################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Gateway/.vs
/Gateway/bin
/Gateway/obj
/InventoryService/bin
/InventoryService/obj
/FinanceService/bin
/FinanceService/obj
